.likes__video__container {
	padding: var(--padding-rem-m);
}

.empty__page {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 22vh);
}
.link {
	display: block;
	background-color: var(--primary-color);
	color: var(--text-color);
	margin: 8px;
	padding: 8px;
	border-radius: 4px;
	font-size: 1rem;
	font-weight: 600;
	border: none;
	text-decoration: none;
	cursor: pointer;
	margin-top: var(--margin-rem-s);
}
