.category__slider {
	display: flex;
	margin-bottom: var(--margin-rem-s);
	margin-left: var(--margin-rem-s);
	gap: var(--gap-sm);
}

.category__slider__items {
	display: flex;
	overflow-y: hidden;
	overflow-x: scroll;
	width: calc(100vw - 25vw);
	gap: var(--gap-sm);
}
.category__slider__items::-webkit-scrollbar {
	display: none;
}
.chip {
	background-color: var(--background-color-shade2);
	color: var(--text-color);
	font-size: 1.2rem;
	border-radius: 12px;
	padding: 0px 10px;
	text-align: center;
	transition: transform 450ms;
	cursor: pointer;
	object-fit: contain;
}
.chip:hover {
	transform: scale(1.04);
	background-color: #6b6b6b;
}

.videos__container {
	display: grid;
	grid-template-columns: repeat(auto-fit, 18rem);
	gap: var(--gap-m);
	justify-content: center;
}
.videos__container__empty {
	text-align: center;
	color: var(--warning-red-color);
}

.loader {
	border: 16px solid var(--text-color);
	border-top: 16px solid var(--primary-color);
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
