.aside__navigation {
	width: 250px;
	position: fixed;
	top: 3rem;
	height: 100%;
	background-color: var(--nav-color);
}
.links__container {
	margin-top: var(--margin-rem-m);
	display: flex;
	flex-direction: column;
}
.navigation__link {
	color: var(--text-color);
	text-decoration: none;
	padding: var(--padding-rem-s);
	font-size: 1.2rem;
}
.navigation__link i {
	margin: 0 var(--margin-rem-s);
}
