.video__card {
	position: relative;
	background-color: var(--nav-color);
	width: 18rem;
	cursor: pointer;
	transition: transform 0s;
	border-radius: 4px;
}
.video__card__badge {
	position: absolute;
	right: 5px;
	top: 5px;
}
.video__card-image {
	height: 10rem;
	width: 100%;
}
.video__details__container {
	margin: 8px 1rem;
}
.video__description__container {
	display: flex;
	justify-content: space-between;
}
.video__description {
	font-size: 1.1rem;
}
.video__views {
	margin: 8px 0;
}

.video_actions_container {
	position: absolute;
	bottom: -6rem;
	right: 1rem;
	background-color: var(--nav-color);
	color: var(--text-color);
	z-index: var(--z-index-xl);
}
.video__card__button {
	display: none;
	background-color: var(--background-color-shade2);
	padding: var(--padding-px-l) var(--padding-rem-s);
	font-size: 1.2rem;
	gap: var(--gap-sm);
	color: var(--text-color);
	margin: calc(2 * var(--margin-px-l)) var(--margin-rem-s);
}

.video__card:hover {
	transform: scale(1.02);
	z-index: var(--z-index-m);
	transition-delay: 1s;
}
.video__card:hover .video__card__button {
	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 480px) {
	.video__card:hover .display-none {
		display: none;
	}
}
